
### Question: 4

What is correlation? Give an example with a dataset & graphical representation on jupyter Notebook

Corelation is the linear relation measure between two numerical variable in statistics. corelation value varies from -1 to 1 where -1 mean un related and 1 means extremely co-related

In [1]:
import pandas as pd

a= [[5,6,8,9,10],[3,2,1,0,0], [1,2,3,4,5]]

df = pd.DataFrame(a)

In [2]:
df.corr()

          0         1         2         3         4
0  1.000000  0.866025  0.693375  0.554416  0.500000
1  0.866025  1.000000  0.960769  0.896258  0.866025
2  0.693375  0.960769  1.000000  0.984111  0.970725
3  0.554416  0.896258  0.984111  1.000000  0.997949
4  0.500000  0.866025  0.970725  0.997949  1.000000